tests/*
references/*
src/cellranger-9.0.1/*
src/seacells/seacells/*
src/seacells/SEACells/*
src/bcftools-1.22/*
outputs/*
*tmp*
nohup-out/*
logs/*
.snakemake
rawdata/*
.vscode/*
external_data/*
*/.ipynb_checkpoints/*
