# ignore general files
.snakemake
.vscode/*
*/.ipynb_checkpoints/*


# ignore workflow specific files
tests/*
references/*
outputs/*
nohup-out/*
logs/*
*tmp*
rawdata/*
external_data/*

# ignore large/downloadable software
src/*
!src/bcftools-1.22.tar.bz2
!src/freebayes/Dockerfile
!src/pysam/Dockerfile
!src/reditools1/Dockerfile
!src/reditools3/Dockerfile
!src/rstudio-server*
!src/vawk/Dockfile
!src/vcflib/Dockerfile
